/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ffffff ;
}

/* regole header */

header{
    background-color: #ff6900;
    color: #fff6f0;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px grey;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
}

.leftoftitle{
    display: flex;
    align-items: center;
}

.rightoftitle{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
}

.logoboolean{
    height: 15px;
}

.icontitle{
    margin-right: 2px;
}

/* regole main */

main{
    padding-top: 160px;
    margin-bottom: 50px;
}

.container{
    width: 80%;
    min-height:1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 80px 0;
    /* debug */
    /* background-color: blue;
    border: black solid 2px; */
}

.prodotto{
    width: calc(80%/3);
    min-height: 450px;
    position: relative;
    margin-right: 15px;
    /* debug */
    /* background-color: yellow; */
}

.prodotto img{ 
    width: 100%;
}

.sale{
    color: red;
    font-weight: bold;
}

.oldprice{
    text-decoration: line-through;
}

.label{
    color: white;
    position: absolute;
    height: 19px;
    bottom: 105px;
    left: 0;
    text-align: center;
    font-size: 14px;
}
.label.sconto{
    width: 56px;
    padding-top: 4px;
    background-color: red;
}

.label.sostenibilita{
    width: 85px;
    padding-top: 4px;
    left: 60px;
    background-color: #008000;
}

.label.sostenibilita.due{
    left: 0;
}

.heart{
    background-color: #ffffff;
    color: black;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart:hover{
   color: red;
}


/* regole footer */

footer{
    background-color: #1a1a1a;
    color: whitesmoke;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: white solid 3px;
}

.allineamentofooter{
    margin-right: 218px;
}

.linkfooter{
    font-size: 15px;
    margin-right: 5px;
}

h3{
    margin-top: 30px;
    font-size: 15px;
}

h5{
    margin-top: 30px;
    margin-bottom: 4px;
}

hr{
    display: flex;
    flex-direction: row;
}