/* regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#ffffff ;
}

/* regole header */

header{
    background-color: #ff6900;
    color: #fff6f0;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.leftoftitle{
    display: flex;
    align-items: center;
}

.rightoftitle{
    display: flex;
    align-items: center;
}

.title{
    display: flex;
    align-items: center;
}

.logoboolean{
    height: 15px;
}

.icontitle{
    margin-right: 2px;
}

/* regole main */

.imgsize{
    height: 330px;
    border-color: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
    position: relative;
    /* debug */
    background-color: deeppink;
}

.containerimg{
    display: flex;
    justify-content: center;
}

.descrizionearticoli{
    font-size: 10px;
}

.descrizionearticoli .sostenibilita{
    height: 10px;
    width: 50px;
    background-color: green;
    color: white;
    position: absolute;
    bottom:10px;
    left: 1px;
}

.sale{
    color: red;
    font-weight: bold;

}

.oldprice{
    text-decoration: line-through;
}

/* regole footer */

footer{
    background-color: #1a1a1a;
    color: whitesmoke;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.linkfooter{
    font-size: 15px;
    margin-right: 5px;
}

h3{
    margin-top: 30px;
}

h5{
    margin-top: 30px;
}

hr{
    display: flex;
    flex-direction: row;
}